<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header style="background-image: url('<%= worldcup.champion_img %>');">

      <div class="header-content">
         <div class="header-content-inner">
             <h1><%= title %></h1>
         </div>
     </div>
    </header>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <img src="/images/<%= worldcup.poster %>" alt="" class="img-responsive img-rounded poster"/>
          </div>
          <div class="col-sm-8">
            <h2>Host</h2>
            <p><%= worldcup.host %></p>
            <br>
            <h2>Winner</h2>
            <p><%= worldcup.champions %></p>
          </div>
        </div>
      </div>
    </section>

    <% include partials/script.ejs %>
  </body>
</html>
