<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header style="background-image: url('<%= worldcup.champion_img %>');">

      <div class="header-content">
         <div class="header-content-inner">
             <h1><%= title %></h1>
             <a class="btn btn-primary btn-xl travel-button">Learn More</a>
         </div>
     </div>
    </header>

    <section id="main" style="position: relative;">
      <div class="container" style="position: absolute; height: 100%; width: 100%;">
        <div class="row" style="height: 100%;">
          <div class="col-sm-4" style="height: 100%;">
            <img src="/images/<%= worldcup.poster %>" alt="" class="img-responsive img-rounded worldcup-poster"/>
          </div>
          <div class="col-sm-8" style="height: 100%;">
            <div class="row">
              <div class="well host-champ-container">
                <h1>Host: <%= worldcup.host %></h1>
                <h2>Winner: <%= worldcup.champions %></h2>
              </div>
            </div>


            <div class="row">
              <div class="well description-container">
                <h2>Descripton</h2>
                <p>
                  Shabby chic pitchfork pork belly hoodie vinyl ramps. Pug seitan jean shorts retro schlitz. Mlkshk cronut twee, squid whatever vegan authentic trust fund portland meditation you probably haven't heard of them mixtape stumptown cornhole. Irony slow-carb plaid crucifix pickled. Tacos artisan austin, four loko XOXO polaroid echo park craft beer food truck skateboard 90's. 3 wolf moon pitchfork affogato, gluten-free polaroid keytar chia. Pop-up artisan 3 wolf moon tattooed.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <% include partials/footer.ejs %>
    <% include partials/script.ejs %>
  </body>
</html>
